@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.logo {
  height: 125px;
}
.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 20px;
  background-color: #fff;
  color: #1c1c1c;
} 

.nav-links a {
  color:#1c1c1c;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
} 

/* Navbar Menu*/
.menu {
  display: flex;
  gap: 1em;
  font-size: 20px; 
} 

.menu li:hover {
  background-color: #fff;
  border-radius: 5px; 
  transition: 0.3s ease;
} 
input[type=checkbox]{
  display: none;
}

/*Hamburger Menu*/ 
.hamburger {
  display: none;
  font-size:24px; 
  user-select: none;
} 

footer { 
  background: rgb(0,0,0);
} 

@media (max-width:768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #1c1c1c;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  } 

  .menu li:hover {
    display: inline-block;
    background-color: #1c1c1c;
    transition: 0,3 ease;
  }

.menu li + li {
  margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
  display: block;
}

.hamburger {
  display: block;
}
}

#main-content {
  background-image: url('../img/view-hotel.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
} 

#overlay1 {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
} 

#heading {
  position: relative;
  top: 30%;
  left: 5%;
  font-size:90px;
  font-family: Arial, Helvetica, sans-serif;
}

#safety {
  background-image: url('../img/hotel-counter.jpg');
  background-size: cover;
  background-position: 10px;
  height: 50vh;
  width: 100%;
  color: white;
  overflow: hidden;
  margin-top: 10px;
} 

#overlay2 {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
} 

#heading2 {
  position: relative;
  top: 30%;
  left: 5%;
  font-size:70px;
  font-family: Arial, Helvetica, sans-serif;
}

.subheading { 
  position: relative;
    top: 35%;
    left: 6%;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
} 

.flex-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 400px;
  width: 300px;
}

.flex-container > div > img {
  height: 100%;
  width: 100%;
  border-radius: 40px; 
} 

.flex-container > div > img:hover {
  opacity: 0.7; 
}   

#heading1 {
  position: relative;
  top: 30%;
  margin-left: 80px;
  font-size:45px;
  font-family: Arial, Helvetica, sans-serif;  
  -webkit-text-stroke-width:1px ;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: rgba(0,0,0, 0);
  margin-bottom: 20px;
}  

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.polaroid-container {
  text-align: center;
  padding: 10px 20px;
} 

.grid-container-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 80px;
  grid-gap: 0px;
}

#location-heading {
  margin-top: 40px;
  margin-left: 40px;
  font-size:45px;
  font-family: Arial, Helvetica, sans-serif;  
  -webkit-text-stroke-width:1px ;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: rgba(0,0,0, 0);
  margin-bottom: 20px;
} 

.location-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  grid-gap: 10px;
}

.location-list-heading {
  padding-top: 30px;
  font-size: 40px;
  font-family: 'Petit Formal Script', cursive;
}

.location-list-content {
  font-family: 'Petit Formal Script', cursive;
  padding-left: 10px;
  font-size: 20px;
} 

.navbar-footer {
  border-top:2px solid #1c1c1c;
  position: sticky;
  bottom: 0;
  align-items: center; 
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: #1c1c1c;
}   

.map {
  min-height: 100vh;
  overflow: hidden;
}